{% from '@OdiseoSyliusReportPlugin/Table/macros.html.twig' import list %}

{% set report = data.report %}
{% set labels = data.labels %}
{% set values = data.values %}

{% if labels is defined %}
<div class="ui segment">
    {{ list(report, labels, values) }}
</div>
{% endif %}
